/* Stars */
.checked {
  color: orange;
}

#main {
  margin-top: 40px;
}

#movie img {
  size: 100%;
}

.review-card {
  width: 800px;
  height:200px;
  margin: 2px;
  /* border: black outset 1px; */
  background-color: #eeeeee
}
.review-card img {
  height: 200px;
  float: left;
  padding: 5px;
}

.review-title {
  font-size: 2em;
  margin-bottom: 0;
}

.review-user {
  margin-bottom: 0;
  font-size: 1.4em;
}

.review-content {
    border: solid 1px black;
    background-color: #fff;
    border-radius: 5px;
    width: max-content;
    padding: 5px;
    margin-left: 140px;
    min-width: 650px;
    font-size: 1.2em;
}

.review-card:hover {
  box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
}

.thumbnail {
  max-height: 298px;
  max-width: 200px;
  overflow: hidden;
}
.thumbnail img {
  max-width: 200px;
}

#page-title {
  display: inline;

}

#page-title h1 {
  color: #288;
  font-size: 2rem;
  margin: 0;
  padding: 5px;
  margin-left: 89px;
}

#nav-bar img {
  width:43%;
  float: left;
  padding-left: 5px;
}

form {
  width: 100%;
}

body .form-control {
  font-size: 3rem;
  display: inline;
}

/* Card Styling */
.card {
  background: white;
  margin-bottom: 2em;
  max-width: 200px;
  height: 382px;
}

.card img {
  padding: 5px;
}

.card:hover {
  box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
}

.card-content {
  padding: 2px;
  padding-left: 2px;
  text-align: center;
  max-width: 300px;
  bottom: 0;
  padding: 5px;
}

.card-content p {
  text-align: center;
  margin-bottom: 1px;
  margin-top: 0px;
  size: auto;
}

/* Sidenav */
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  /* overflow-x: hidden; */
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 32px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}
