.checked {
  color: orange;
}

#main {
  margin-top: 40px;
}

#movie img {
  size: 100%;
}

.thumbnail {
  max-height: 298px;
  max-width: 200px;
  overflow: hidden;
}
.thumbnail img {
  max-width: 200px;
}

.card {
  background: white;
  margin-bottom: 2em;
  max-width: 200px;
  height: 379px;
}

.card:hover {
  box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
}

.card-content {
  padding: 2px;
  padding-left: 2px;
  text-align: center;
  max-width: 300px;
  position: absolute;
  bottom: 0;
}

.card-content p {
  text-align: center;
}
